/* Wrapper for the entire page */
body {
  background-color: #f3f2ef;
  /* Light gray background */
}

.login-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif ;
  min-height: 100vh;
  padding: 20px;
}

/* Styling for the form container */
.form-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  /* Max width for the form container */
}

/* Style for ConnectIn Logo */
.connectInLogo {
  width: 200px;
  margin-bottom: 20px;
  position: absolute;
  top: 25px;
  left: 60px
}

.welcome-message,
.sign-in-header {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 100px !important;
  text-align: center;
  color: #333;
}

.sign-in-header {
  color: #35677e;
  /* Blue color for 'Sign in' */
  font-size: 28px;
  margin-bottom: 5px;
}

/* Style for the smaller subheading below 'Sign in' */
.subheading {
  color: #35677e;
  font-size: 25px;
  font-weight: 550;
  text-align: center;
  margin-bottom: 20px;
}

/* Wider input fields */
.wide-input {
  width: 100%;
  max-width: 350px;
  /* Adjust input width */
  margin-bottom: 20px;
}

/* Centering the Sign In button */
.text-center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Style for Sign In button */
.sign-in-button {
  margin-bottom: 15px;
  width: 100%;
  max-width: 350px;
  height: 45px;
  background-color: #35677e !important;
  color: white; /* Text color on the button */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.sign-in-button:hover {
  background-color: #2a4d6a; /* Optional: Darker shade on hover for better UX */
}

/* Styling for links and error message placeholders */
.link {
  color: #35677e;
  /* Blue color for links */
  text-decoration: none;
  font-size: 15px;
  margin-top: 15px;
}

.link:hover {
  text-decoration: underline;
}

.inner-footer-text {
  text-align: center;
  font-size: 15px;
  color: #666;
  margin-top: 30px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #35677e;
  text-align: center;
  font-size: 10pt;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center!important;
  justify-content: center ;
  margin-top: 5px;
}

.footer-text{
  margin-top: 5px;
  margin-bottom: 5px;
}

