* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px !important;
    width: 100%;
}

.navbar-logo {
    max-width: 150px; 
    height: auto;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile responsiveness */
@media (max-width: 1000px) {
    .navbar-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        margin-bottom: 10px;
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-item {
        width: 100%;
        text-align: center;
    }
}