.register-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures it covers the full viewport height */
  margin: 0;
}

.register-message {
  margin: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
  color: #000000aa;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
