.card-network {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    height: 420px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image-network {
    margin: 0.5rem;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.card-title-network {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-subtitle-network {
    font-weight: bold;
    font-size: 1rem;
}

.card-company-network {
    font-size: 0.8rem;
}

.button-container-network {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 0;
}

.mdb-btn-network {
    justify-content: center;
    width: 120px;
    margin: 1rem;
    padding: 10px;
}

.view-profile-btn-network {
    background-color: #35677e !important;
    color: #ffffff;
}

.pending-btn-network {
    background-color: #af3642 !important;
}

.message-btn-network {
    background-color: #17a2b8 !important;
    color: #ffffff;
}

.connect-btn-network {
    background-color: #2e765e !important;
    color: #ffffff;
}

.connected-btn-network {
    background-color: #2e765e !important;
}


.delete-connection-btn2{
    position:absolute;
    top: 1rem;
    left: 18rem;

}