*{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px !important;
  width: 100%;
}

.navbar-collapse {
  display: flex !important;
  justify-content: flex-end;
  padding-right: 20px;
  height: 10vh;
}

.navbar-logo {
  max-width: 150px;
  height: auto;
}

.navbar-nav {
  display: flex;
  column-gap: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}


.navbar-nav-item {
  cursor: pointer; /* Make sure it looks clickable */

  /* For the hover effect */
  &:hover {
    color: black; /* This affects the text and icons */
    font-weight: bold;
  }

  .navbar-link {
    text-decoration: none;
  }

  span {
    &:hover {
      text-decoration: underline; /* Underline on hover */
    }
  }
}

/* Add a class for active links */
.active-nav-item {
  color: black;
  font-weight: bold;
  text-decoration: underline; /* Underline for active page */
}



@media (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    margin-bottom: 10px;
    text-align: center;
  }

  .navbar-toggler {
    display: block;
    margin-bottom: 10px;
    text-align: right;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
    /* Makes each item take full width */
    text-align: center;
    /* Centers the text within each item */
  }

}