.page-layout {
  background-color: #f3f2ef;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
